<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>Archetype Created Web Application</display-name>
	
	<context-param>
		<param-name>Context Name</param-name>
		<param-value>I am here for complete Web Application</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>MyFirstServlet</servlet-name>
		<servlet-class>com.servlets.MyFirstServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>MySecondServlet</servlet-name>
		<servlet-class>com.servlets.MySecondServlet</servlet-class>
		
		<init-param>
			<param-name>Config Name</param-name>
			<param-value>I am specific to Servlet</param-value>
		</init-param>
	</servlet>
	
	
	
	<servlet-mapping>
		<servlet-name>MyFirstServlet</servlet-name>
		<url-pattern>/myfirstpage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MySecondServlet</servlet-name>
		<url-pattern>/mysecondservlet</url-pattern>
	</servlet-mapping>
	
</web-app>
